page-place-detail {
    .map{
        height: 100%;
    }
    .detail {
	height: 100%;
        text-align: center;
    }
    .detail *{
        margin-top:5px;
    }
    .card-content-wp-dark {
	font-size: 0.6em;
}
    .label{
        height: 100%;
    }
    .enroll-map {
	height: 40%;
}
    .card-title {
	font-size: 1.2em;
}
   

.item-md .item-button{
        margin:10px;
        font-size: 1.2em;
    }
    
.item-md .item-button span{
        margin:0px;
    }
}
